.card{
  background: rgb(254, 254, 254);

}

.heading{
background:rgb(116, 113, 113);

}

.text-light{
position: relative;
top: 31px;


}

body{
  background-image: url("https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}